#!/bin/sh

cd <%= node['gitlab'][@options[:rails_app]]['dir'] %>/working

exec 2>&1

# This is useful to see in the logs; mail_room is very quiet
echo 'Runit: starting mail_room'

exec chpst -e /opt/gitlab/etc/<%= @options[:rails_app] %>/env -P \
  -U <%= @options[:user] %> -u <%= @options[:user] %> \
  /opt/gitlab/embedded/bin/bundle exec mail_room \
    -c <%= @options[:mail_room_config] %>
